<template>
    <div id="app">
        <bubbler v-bind:ms="ms"></bubbler>
        <div id="footer">
            <button class="launcher" v-on:click="doGoClicked">Start New Situation</button>
        </div>
    </div>
</template>

<script>
import Bubbler from './Bubbler.vue';


export default {
    name: 'app',

    components: {
        Bubbler
    },

    data() {
        return {}
    },

    computed: {
        ms: function() {
            return this.$root.ms;
        }
    },

    methods: {
        doGoClicked: function(event) {
            console.log('clicked inside App');
            this.$root.$emit('go-clicked', true);
        }
    }
}
</script>

<style lang="scss">
    body, html {
        margin: 0;
        padding: 0;

        height: 100%;
        width: 100%;
    }

    body {
        box-sizing: border-box;
        padding: 10px 0 0;
    }

    #app {
        position: relative;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    #footer {
        position: absolute;
        right: 0;
        bottom:0;
        left: 0;
        height: 80px;
    }

    .launcher {
        cursor: pointer;
        padding: 10px 20px;
        display: block;
        margin: 20px auto;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        outline: none;
        position: relative;
    }
</style>
