<template>
    <div class="bubbler-wrapper">
        <canvas ref="bubbler-canvas" v-bind:width="w" v-bind:height="h"></canvas>
        <p class="line-label" id="ingest">Ingest</p>
        <p class="line-label" id="dedupe">De-dupe</p>
        <p class="line-label" id="cluster">Cluster</p>
    </div>
</template>

<script>
import {_2PI, lerp, clamp} from "./lib/utils";
import {MAX_EVENT_SOURCES} from "./lib/EventSim";

export default {

    data() {
        return {
            ctx: null,
            w: 1,
            h: 1
        };
    },

    props: ['ms'],

    watch: {
        ms: function(v) {
            this.renderFrame(v);
        }
    },

    mounted() {
        // Have to wait until the canvas is mounted before grabbing its context
        this.ctx = this.$refs['bubbler-canvas'].getContext('2d');

        window.addEventListener('resize', this.handleResize);
        this.handleResize();
    },

    methods: {
        handleResize: function() {
            this.w = this.$refs['bubbler-canvas'].parentElement.clientWidth;
            this.h = this.$refs['bubbler-canvas'].parentElement.clientHeight;
        },

        colourLookup: function(n) {
            // @ASSUMPTION there are 25 types of event, and we want to break them down evenly
            if(n < 5) {
                return '#ce2d70';
            }
            if(n < 10) {
                return '#f9bc2c';
            }
            if(n < 15) {
                return '#1aad53';
            }
            if(n < 20) {
                return '#24ade3';
            }
            return '#6d3994';
        },

        renderNode: function(x, y, r, colour) {
            this.ctx.fillStyle = colour;
            this.ctx.beginPath();
            this.ctx.arc(x, y, r, 0, _2PI, false);
            this.ctx.fill();
        },

        renderLine: function(x0, y0, x1, y1) {
            this.ctx.beginPath();
            this.ctx.moveTo(x0, y0);
            this.ctx.lineTo(x1, y1);
            this.ctx.stroke();
        },

        renderFrame: function(ms_current) {
            this.ctx.clearRect(0, 0, this.w, this.h);

            let dx = this.w / MAX_EVENT_SOURCES;
            let x_offset = dx / 2;

            // @ASSUMPTION cluster_buckets is never length 0 as it is initialised with 7 elements
            let cluster_dx = this.w / this.$root.cluster_buckets.length;
            let cluster_x_offset = cluster_dx / 2;

            // Render Event Sources
            // @TODO

            // Render Events
            let x, y, x1, y1, theta, radius, x_spiral, y_spiral, r = 5;
            let i, n, ev, t;
            for(i = 0, n = this.$root.live_events.length; i < n; i++) {
                ev = this.$root.live_events[i];

                x = ev.type * dx - x_offset;
                y = this.h - (((this.ms - ev.ms_start) / ev.duration) * (this.h * ev.destination));

                if(this.ms > ev.ms_finish) {
                    t = clamp((this.ms - ev.ms_finish) / ev.cluster_duration, 0, 1);

                    x1 = ((this.$root.cluster_buckets.indexOf(ev.situation_id) + 1) * cluster_dx) - cluster_x_offset;
                    y1 = this.h - (this.h * 0.85);

                    // Fermat's Spiral
                    theta = 2.39998131 * ev.cluster_position_index;
                    radius = 3 * Math.sqrt(theta);
                    x_spiral = Math.cos(theta) * radius;
                    y_spiral = Math.sin(theta) * radius;

                    x = lerp(x, x1 + x_spiral, t);
                    y = lerp(y, y1 + y_spiral, t);
                }

                this.renderNode(x, y, r, this.colourLookup(ev.type));
            }

            // Render Demarcation Lines
            this.ctx.strokeStyle = '#ddd';
            this.ctx.setLineDash([4, 2]);
            y = this.h - (this.h * 0.33);
            this.renderLine(0, y, this.w, y);
            y = this.h - (this.h * 0.66);
            this.renderLine(0, y, this.w, y);
        }
    },

    beforeDestroy() {
        window.removeEventListener('resize', this.handleResize);
    }
}
</script>

<style lang="scss">
    .bubbler-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 80px;
        left: 0;

        border: 1px solid #ddd;
    }
    .line-label {
        position: absolute;
        right: 20px;

        font-family: Arial, sans-serif;
        color: #dddddd;
        text-transform: uppercase;
        font-size: 14px;
    }
    #ingest {
        bottom: 1%;
    }
    #dedupe {
        bottom: 34%;
    }
    #cluster {
        bottom: 67%;
    }
</style>
